---
layout: default
title: Home
---

<head>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>


<body>
  <div class="about" id="about">
    <h1>
      About Me
    </h1>
    <img src="{{ site.github.url }}/assets/img/headshot.png" class="headshot">
    <p>
      I'm a roboticist currently working at <a href="https://www.garmin.com/en-US/" target="_blank">Garmin</a> on estimation and control for underactuated marine systems.  In early 2018, I completed my PhD in Computer Science in the <a href="http://www-clmc.usc.edu/Main/HomePage" target="_blank">Computational Learning and Motor Control (CLMC) Lab</a> at the <a href="htp://www.usc.edu" target="_blank">University of Southern California</a>, in collaboration with the <a href="https://am.is.tuebingen.mpg.de/ target="_blank"">Autonomous Motion Department</a> at the Max Planck Institute for Intelligent Systems.  My research focused on solving a broad range of problems in humanoid robotics; you can read about it in my thesis, <a href="{{ site.github.url }}/download/NicholasRotellaThesis.pdf" target="_blank">Estimation-Based Control for Humanoid Robots</a>.
    </p>
    <p>
      Prior to defending my thesis, I earned a M.Sc. degree in Computer Science with a specialization  in Intelligent Robotics from USC in 2014.  My undergraduate studies earned me a B.Sc. degree in Mechanical Engineering with an emphasis on control systems from <a href="http://www.cooper.edu" target="_blank">The Cooper Union for the Advancement of Science and Art</a> in 2012. Having spent the summer of 2011 performing computational neuroscience research in the <a href="http://www.joefrancislab.com/" target="_blank">Joe Francis Lab</a> at SUNY Downstate, I decided to pursue graduate studies in robotics as the field combined my interests in neuroscience and mechatronics.
    </p>
  </div>
</body>


<body>
  <div id="research">
    <h1>
      Research
    </h1> 
    In addition to the <a href="#publications">publications</a> my collaborators and I authored on humanoid estimation and control, I spent a significant portion of my PhD working to improve both our locomotion codebase and performance of the real hardware.
    <h2>
      Quadratic Program-Based Inverse Dynamics
    </h2>
    <iframe src="https://player.vimeo.com/video/212661758" width="640" height="360" frameborder="0" allowfullscreen></iframe>
    <h2>
      Robust Joystick-Based Walking Controller
    </h2>
    <iframe src="https://player.vimeo.com/video/212661765" width="640" height="480" frameborder="0" allowfullscreen></iframe>
</body>

<body>
  <div id="publications">
    <h1>
      Publications
    </h1>
    {% for pub in site.data.publications.conference %}
    <div class="pub-content">
      <div class="pub-img">
	{% if pub.img %}
	<img src="{{ site.github.url }}/assets/img/{{ pub.img }}">
	{% else %}
	<img src="{{ site.github.url }}/assets/img/forest.jpg">
	{% endif %}
      </div>
      <div class="pub-data">
	<h2 style="margin:5px;">
	  <a href="{{ pub.url }}" target="_blank">{{ pub.title }}</a>
	</h2>
	<h3 style="margin:5px;">
	  {{ pub.conf }}
	</h3>
	<h4 style="margin:10px;">
	  {{ pub.authors }}
	</h4>
	<span class="pub-icon"><a href="{{ pub.url }}" target="_blank"><i class="fa fa-file-text-o fa-fw"></i>link</a></span>
	<span class="pub-icon"><a href="{{ git.github.url }}/download/{{ pub.pdf }}" target="_blank"><i class="fa fa-file-pdf-o fa-fw"></i>pdf</a></span>
	{% if pub.video %}
	<span class="pub-icon"><a href="{{ pub.video }}" target="_blank"><i class="fa fa-file-video-o fa-fw"></i>video</a></span>
	{% endif %}
      </div>
    </div>
    {% endfor %}
  </div>

</body>

<div id="recent_posts">
  <h1>
    Recent Posts:
  </h1>
  {% for post in paginator.posts %}
  <div class="posts">
    <h2>
      <a href="{{ site.github.url }}{{ post.url }}">{{ post.title }}</a>
    </h2>
    {% if post.image %}
    <div class="thumbnail-container">
      <a href="{{ site.github.url }}{{ post.url }}"><img src="{{ site.github.url }}/assets/img/{{ post.image }}"></a>
    </div>
    {% endif %}
    <p>
      {{ post.content | strip_html | truncate: 350 }} <a href="{{ site.github.url }}{{ post.url }}">Read more</a>
      <span class="post-date"><i class="fa fa-calendar" aria-hidden="true"></i> {{ post.date | date_to_string }} - <i class="fa fa-clock-o" aria-hidden="true"></i> {% include read-time.html %}</span>
    </p>
  </div>
  {% endfor %}
</div>

<!-- Pagination links -->
<div class="pagination">
  {% if paginator.next_page %}
    <a class="pagination-button pagination-active" href="{{ site.github.url }}{{ paginator.next_page_path }}" class="next">{{ site.data.settings.pagination.previous_page }}</a>
  {% else %}
    <span class="pagination-button">{{ site.data.settings.pagination.previous_page }}</span>
  {% endif %}

  {% if paginator.previous_page %}
    <a class="pagination-button pagination-active" href="{{ site.baseurl }}{{ paginator.previous_page_path }}">{{ site.data.settings.pagination.next_page }}</a>
  {% else %}
    <span class="pagination-button">{{ site.data.settings.pagination.next_page }}</span>
  {% endif %}
</div>
