<div class="menu" id="menu">

  <!-- sticky menu/nav bar at top of page -->
  <script>
  window.onscroll = function() {myFunction()};

  var navbar = document.getElementById("menu");

  var sticky = navbar.offsetTop;

  function myFunction() {
  if (window.pageYOffset >= sticky) {
  navbar.classList.add("sticky")
  navbar.style.backgroundColor = "salmon";
  navbar.style.color = "white";
  } else {
  navbar.classList.remove("sticky");
  navbar.style.backgroundColor = "white";
  navbar.style.color = "salmon";
  }
  }
  </script>

  <nav class="menu-content" id="menu-content">
    {% for item in site.data.settings.menu %}
      <a href="{{ site.github.url }}/{{ item.url }}">{{ item.name }}</a>
    {% endfor %}
  </nav>
  <nav class="social-icons">
    {% include social-icons.html %}
  </nav>
</div>


<!-- enable smooth scrolling -->
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4/jquery.min.js" type="text/javascript"></script>
<script src="jquery.localscroll.js" type="text/javascript"></script>
<script src="jquery.scrollTo.js" type="text/javascript"></script>
<script type="text/javascript">
  $(document).ready(function() {
  $('#menu').localScroll({duration:10000});
  });
</script>
